/* White */
.white body {
  color: #3d4e5f;
  background-color: #FEFEFF;
}
.white a {
  color: #3d4e5f;
}
.white .bg_back {
  display: block;
}
.white .global-Header {
  background-color: #fefeffe0;
}
.white .mobilemenu-btn {
  border: 2px solid #3d4e5f;
}
.white .mobilemenu-btn.on {
  border: 2px solid #1a78ee;
  background-color: #1a78ee;
}
.white .mobilemenu-btn.on .mobilemenu-btnwrap div {
  background-color: #fff;
}
.white .mobilemenu-btnwrap div {
  background-color: #3d4e5f; border-radius: 10.0rem;
}
.white .mobile-nav {
  background-color: #fff;
  background-image: linear-gradient(-45deg,transparent,rgba(255,255,255,.1));
}
.white .mobile-btn {
  border-bottom: 2px solid #3d4e5f6e;
}
.white .nav-Line {
  background-image: radial-gradient(circle,#3d4e5f,transparent);
}
.white .main-contents-bigtxt {
  color: #3d4e5f;
}
.white .main-contents-smalltxt {
  color: #3d4e5f;
}
.white .nav-Btn {
  color: #3d4e5f;
}
.white .nav-Btn g {
  fill: #3d4e5f;
  stroke: #3d4e5f;
}
.white .anchor-behavior {
  color: #fff;
  background-color: #1a79eead;
  box-shadow: 1px 1px 1rem rgba(26,26,26,.15);
}
.white .anchor-behavior-under {
  background: #1a78ee;
  background: linear-gradient(90deg, #67aafc 0%, #1eabdd 47%, #3ab0ff 100%);
}
.white .background-grid_boxoverlay {
  background-image: radial-gradient(circle,transparent,#d6e3f1 85%);
}
.white .background-grid_box {
  border: 1px solid #4a6785e1;
}
.white .grid-colbgwrap {
  background-image: radial-gradient(circle at 100% 100%,rgba(255,255,255,.1) 10%,transparent 50%);
}
.white .main-cube_side {
  background-color: #3d4e5f15;
  border: 0.2em solid #647fa02c;
}
.white .main-cube-icon {
  _color: #fff;
}
.white .main-cube-icon svg {
  fill: #3d4e5f;
  /* stroke: #3d4e5f; */
}
.white .main-cube-icon svg path {
  fill: #3d4e5f;
  /* stroke: #3d4e5f; */
}
.white .main-cube-item.citem-4 svg path {
  stroke: #3d4e5f;
}
.white .nav-Btn.bright svg {
  fill: #1a79ee;
  stroke: #1a79ee31;
}
.white .experience-clist-item-wrapper {
  background-image: linear-gradient(300deg,transparent,#b7d0f1bb);
}
.white .experience-clist-item-project {
  background-color: rgba(184, 196, 207, 0.9);
}
.white .experience-clist-item-tagList {
  color: #3d4e5f;
  background-color: #ccd7e3;
  border-top: 1px solid #3d4e5fc7;
  border-left: 1px solid #7089a1be;
}
.white .mobile_section-title {
  -webkit-text-stroke-color: #3d4e5f;
  color: #fff;
  opacity: 0.4;
}
.white .achieved-inner-wrap.brand-sec {
  background: linear-gradient(90deg,#b8d8ff,#b4e4f5 50%,#76d0f3);
}
.white .experience-hboxTitle {
  color: #3d4e5f;
}
.white .leadmoreBtn {
  border-bottom: 1px solid #1a79ee;
}
.white .leadmoreBtn g {
  fill: #1a79ee;
}
.white .leadmoreTxt {
  color: #1a79ee;
}
.white .protools-section {
  background-image: radial-gradient(circle,#3f8ef031,transparent 69%);
}
.white .protools-tool-item {
  background-color: #e5e6e7;
  outline: 2px dashed #bbc5ce;
  box-shadow: 0 2px 1rem rgba(51, 50, 50, 0.5);
  opacity: .35;
}
.white .protools-tool-dot {
  background-color: #fff;
}
.white .project-outLink {
  border-bottom: 2px solid #3d4e5f;
}
.white .project-outLink p {
  color: #3d4e5f;
}
.white .project-outLink path {
  stroke: #3d4e5f;
}
.white .projectContents-bitemWrap {
  background-color: #3d4e5f3a;
}
.white #scroll-btn {
  color: #fff;
  background-color: #1a79ee;
  background-image: linear-gradient(rgba(255,255,255,.15),#3e86f1);
  border: 2px solid #1a79ee;
  border-top: 2px solid rgba(255,255,255,.5);
  border-left: 2px solid rgba(255,255,255,.5);
}
.white .aboutContents-LiTit {
  color: #1a79ee;
}
.white .aboutContents-LinkBtn {
  color: #83afe6;
}

.white body::-webkit-scrollbar-thumb {
  background: #3d4e5f;
}

.white body::-webkit-scrollbar-track {
  background: #3d4e5f28;
}


/* Dark */
.dark .bg_back {
  display: none;
}
.dark body {
  color: #d9d9d9;
  background-color: #1a1a1a;
}
.dark a {
  color: #fff;
}
.dark .nav-Btn g {
  fill: #fff;
  stroke: #fff;
}
.dark .global-Header {
  background-color: rgba(26,26,26,.8);
}
.dark .mobilemenu-btn {
  border: 2px solid rgba(255,255,255,.2);
}
.dark .mobilemenu-btn.on {
  border: 2px solid #fff;
  background-color: #fff;
}
.dark .mobilemenu-btn.on .mobilemenu-btnwrap div {
  background-color: #414141;
}
.dark .mobilemenu-btnwrap div {
  background-color: #fff; border-radius: 10.0rem;
}
.dark .mobile-nav {
  background-color: #1a1a1a;
  background-image: linear-gradient(-45deg,transparent,rgba(255,255,255,.1));
}
.dark .mobile-btn {
  border-bottom: 2px solid rgba(255,255,255,.2);
}
.dark .nav-Line {
  background-image: radial-gradient(circle,#fff,transparent);
}
.dark .nav-Btn {
  color: #fff;
}
.dark .anchor-behavior {
  color: #000;
  background-color: rgba(255,255,255,.3);
  box-shadow: 1px 1px 1rem rgba(26,26,26,.15);
}
.dark .anchor-behavior-under {
  background: rgb(218,28,28);
  background: linear-gradient(90deg, rgba(218,28,28,1) 0%, rgba(251,158,36,1) 47%, rgba(255,193,131,1) 100%);
}
.dark .background-grid_boxoverlay {
  background-image: radial-gradient(circle,transparent,#1a1a1a 85%);
}
.dark .background-grid_box {
  border: 1px solid rgba(255,255,255,.7);
}
.dark .grid-colbgwrap {
  background-image: radial-gradient(circle at 100% 100%,rgba(255,255,255,.1) 10%,transparent 50%);
}
.dark .main-cube_side {
  background-color: rgba(255,255,255,.05);
  border: 0.2em solid rgba(255,255,255,.15);
}
.dark .main-cube-icon {
  color: #fff;
}
.dark .experience-clist-item-wrapper {
  background-image: linear-gradient(300deg,transparent,#fff);
}
.dark .experience-clist-item-project {
  background-color: rgba(26,26,26,.9);
}
.dark .experience-clist-item-tagList {
  color: #d9d9d9;
  background-color: rgba(255,255,255,.1);
  border-top: 1px solid rgba(255,255,255,.75);
  border-left: 1px solid rgba(255,255,255,.75);
}
.dark .mobile_section-title {
  -webkit-text-stroke-color: #fff;
  color: rgba(255,255,255,.05);
}
.dark .achieved-inner-wrap.brand-sec {
  background: linear-gradient(90deg,#f7f7b3d9,#efba83 50%,#f38904);
}
.dark .leadmoreBtn {
  border-bottom: 1px solid #fff;
}
.dark .leadmoreBtn g {
  fill: #fff;
}
.dark .leadmoreTxt {
  color: #fff;
}
.dark .protools-section {
  background-image: radial-gradient(circle,rgba(255,255,255,.15),transparent 69%);
}
.dark .protools-tool-item {
  background-color: #fff;
  outline: 2px dashed #e6e6e6;
  box-shadow: 0 2px 1rem rgba(26,26,26,.5);
}
.dark .protools-tool-dot {
  background-color: #fff;
}
.dark .project-outLink {
  border-bottom: 2px solid #d9d9d9;
}
.dark .project-outLink p {
  color: #d9d9d9;
}
.dark .projectContents-bitemWrap {
  background-color: #fff;
}
.dark #scroll-btn {
  color: #fff;
  background-color: #1a1a1a;
  background-image: linear-gradient(rgba(255,255,255,.15),#1a1a1a);
  border-top: 2px solid rgba(255,255,255,.5);
  border-left: 2px solid rgba(255,255,255,.5);
}
.dark .aboutContents-LiTit {
  color: #ffcd59;
}

.dark body::-webkit-scrollbar-thumb {
  background: rgb(85, 85, 85);
}

.dark body::-webkit-scrollbar-track {
  background: rgba(187, 187, 187, 0.1);
}